<div class="row mb-3 mt-5 mx-auto" style="width: 50%;">

  <h3><%= "#{@post.user.first_name} #{@post.user.last_name} has posted:" %></h3>

  <%= image_tag(@post.image, width: 200) if @post.image.attached? %>
  <p class="mt-3"><%= @post.message %></p>
	<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

  <div class="button-box col-lg-12">
  <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
    <% if pre_like %>
      <%= button_to post_like_path(@post, pre_like), method: :delete do %>
      <%= fa_icon "thumbs-down" %>
      <% end %>
    <% else %>
    <%= button_to post_likes_path(@post), method: :post do %>
    <%= fa_icon "thumbs-up" %>
    <% end %>
  <% end %>

  <% if current_user.id == @post.user.id %>
    <%= button_to post_path(@post), method: :delete do %>
      <%= fa_icon "trash" %>
    <% end %>
  <% end %>  
  
  <% @post.comments.each do |comment| %>
    <% @user = comment.user %>
    <%= "#{@user.first_name} #{@user.last_name} has commented: #{comment.message}" %><br>
  <% end %>
  <h4 class="mb-3">Add a comment:</h4>
  <%= render 'comments/form' %>

</div>
