<div class="row mb-3 mt-5 mx-auto" style="width: 50%">

  

    <div class="container mt-5 mb-20">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-10">
          <div class="card">
            <div class="d-flex justify-content-between p-2 px-3">
              <div class="d-flex flex-row align-items-center">
                 <div class="w-20 h-100 .bg-transparent">
                  <p class="hidden">...</p>
                 </div>
                <%= image_tag(@post.user.avatar, :class=> "img-circular") if
                @post.user.avatar.attached? %> 
                <div class="w-20 h-100 .bg-transparent">
                  <p class="hidden">...</p>
                 </div><%= " #{@post.user.first_name}
                #{@post.user.last_name}" %>
                <div class="d-flex flex-column ml-2">
                  <span class="font-weight-bold"> <%= @post_date %> </span>
                  <small class="text-primary"> </small>
                </div>
              </div>
              <div class="d-flex flex-row mt-1 ellipsis">
                <small class="mr-2"> <%= @post_date %> </small>
                <i class="fa fa-ellipsis-h"></i>
              </div>
            </div>
            <%= image_tag(@post.image, width: 200) if @post.image.attached? %>
            <div class="p-2">
              
              <p class="text-justify ml-30"> <%= @post.message %></p>
              <hr />
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-row icons d-flex align-items-center">
                  <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
                    <% if pre_like %>
                      <%= button_to post_like_path(@post, pre_like), method: :delete do %>
                      <%= fa_icon "thumbs-down" %>
                      <% end %>
                    <% else %>
                    <%= button_to post_likes_path(@post), method: :post do %>
                    <%= fa_icon "thumbs-up" %>
                    <% end %>
                  <% end %>

                  <% if current_user.id == @post.user.id %>
                    <%= button_to post_path(@post), method: :delete do %>
                      <%= fa_icon "trash" %>
                    <% end %>
                  <% end %>  
                </div>
                <div class="d-flex flex-row muted-color">
                  <span> 
                    <%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like'  : 'Likes'%>
                  </span>
                  <span class="ml-2"></span>
                </div>
              </div>
              <hr />

              <% @post.comments.each do |comment| %>
              <div class="comments">
                <div class="d-flex flex-row mb-2">
                                  <div class="w-20 h-100 .bg-transparent">
                  <p class="hidden">...</p>
                 </div>
                  <%= image_tag(comment.user.avatar, :class=> "img-circular") if
                  comment.user.avatar.attached? %>
                <div class="w-20 h-100 .bg-transparent">
                  <p class="hidden">...</p>
                 </div>
                  <div class="d-flex flex-column ml-2">
                    <span class="name">
                      <%= " #{comment.user.first_name}
                      #{comment.user.last_name}" %>
                    </span>
                    <small class="comment-text"> <%= comment.message %> </small>
                    <div
                      class="d-flex flex-row align-items-center status"
                    ></div>
                  </div>
                </div>
                <% end %> <%= render 'comments/form' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
